.env
.cache
.conda
.config
.nv
.oh-my-zsh
.vscode-server
CompA/
CompA-dataset/
ComputeCache/
miniconda3/
BEATs_iter3_plus_AS2M_finetuned_on_AS2M_cpt2.pt
salmonn_v1.pth
Generation/generated-data/
Captioning-Datasets/